body {
  background-color: #646464;
  color: #f0f0f0;
}

.game-resume {
  background-color: #333;
  border: 2px solid gold;
  padding: 20px;
  margin: 20px;
  text-align: justify;
}

nav {
    display: flex;
    gap: 20px; /* interessante */
    justify-content: center;
    border:2px solid gold;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: gold;
    padding: 10px 15px;
}

nav a:hover {
    background-color: gold;
    color: black;
}

.forms {
    background-color: #333;
  border: 2px solid gold;
  padding: 20px;
  text-align: justify;
  max-width: 300px;
  margin: 0 auto;
}

input, select, textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    outline: none;
    border: groove grey;
    margin-bottom: 8px;
}

input:hover, select:hover, textarea:hover,
input:focus, select:focus, textarea:focus {
    border: groove gold;
}
form button {
    color: whitesmoke;
    border: groove;
    background-color: black;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#char-output {
    margin-top: 20px;
}